*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    font-size: 2rem;
}

.counter p{
    font-size: 1.5rem;
}

.countCont{
    display: none;
    justify-content: center;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
